<html>

<head>
    <title>アップロード</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="display-4">画像のアップロード</h1>
        <!-- <form role="form" action="/chat" enctype="multipart/form-data" method="post">
            <input type="hidden" name="userid" value="{{.UserData.userid}}" />
            <div class="form-group">
                <label for="message">ファイルを選択</label>
                <input type="file" name="avatarFile" />
            </div> -->
        <form role="form" action="/chat" enctype="multipart/form-data" method="post">
            <input type="hidden" name="userid" value="{{.UserData.userid}}" />
            <div class="form-group">
                <label for="avatarFile">アップロードするファイルを選んで下さい</label>
                <input type="file" class="form-control-file" id="avatarFile" name="avatarFile">
            </div>
            <input type="submit" value="アップロード" class="btn btn-primary" />
        </form>
    </div>
</body>

</html>