<html>

<head>
    <title>チャット</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    </style>
</head>

<body>
    <div id="app" class="container mx-auto w-50">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
            <a class="navbar-brand text-dark" href="/">gortfolio</a>
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/blackjack">
                            <i class="far fa-heart"></i> ブラックジャック
                        </a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/chat">
                            <i class="far fa-comment-dots"></i> チャット
                        </a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/scraping">
                            <i class="fas fa-biohazard"></i> スクレイピング
                        </a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/shiritori">
                            <i class="fab fa-gitlab"></i> しりとり
                        </a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/todo">
                            <i class="fas fa-tasks"></i> タスク
                        </a>
                    </li>
                    <li class="nav-item border">
                        <a class="nav-link active bg-secondary" href="/footprint">
                            <i class="fas fa-shoe-prints"></i> あしあと
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="dropdown mt-5 pt-3 text-right">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i> アカウント
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/rename">名前変更</a>
                <a class="dropdown-item" href="/upload">画像アップロード</a>
                <a class="dropdown-item" href="/logout">ログアウト</a>
            </div>
        </div>
        <p class="text-primary text-center my-3">{{ .AuthMessage }}</p>
        <div class="my-3" style="height: 600px; overflow: scroll;" id="mesScroll">
            <ul class="list-group list-group-flush" id="messages">
                {{range $i, $v := .Msg}}
                <li class="list-group-item">
                    <img src="{{ $v.AvatarURL }}" width="30">
                    <strong>{{ $v.Name }}</strong>
                    <p>{{ $v.Message }}</p>
                    <small>{{ $v.When }}</small>
                </li>
                {{ end }}
            </ul>
        </div>
        <form id="chatbox" role="form">
            <div class="form-group">
                <label for="message">{{.UserData.name}}からメッセージを送信</label>
                <textarea id="message" class="form-control"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" value="送信" class="btn btn-secondary" />
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            var obj = document.getElementById("mesScroll");
            obj.scrollTop = obj.scrollHeight;

            var socket = null;
            var msgBox = $("#chatbox textarea");
            var messages = $("#messages");
            $("#chatbox").submit(function () {
                if (!msgBox.val()) return false;
                if (!socket) {
                    alert("エラー: WebSocket接続が行われていません。");
                    return false;
                }
                socket.send(JSON.stringify({ "Message": msgBox.val() }));
                msgBox.val("");
                return false;
            });
            if (!window["WebSocket"]) {
                alert("エラー: WebSocketに対応していないブラウザです。")
            } else {
                socket = new WebSocket("ws://{{ .Host }}/room");
                socket.onclose = function () {
                    alert("接続が終了しました。");
                }
                socket.onmessage = function (e) {
                    var msg = JSON.parse(e.data);
                    messages.append(
                        $("<li>").attr("class", "list-group-item").append(
                            $("<img>").attr("title", msg.Name).css({
                                width: 30,
                                verticalAlign: "middle"
                            }).attr("src", msg.AvatarURL),
                            $("<strong>").text(msg.Name),
                            $("<p>").text(msg.Message),
                            $("<small>").text(msg.When)
                        )
                    );
                    obj.scrollTop = obj.scrollHeight;
                }
            }
        });
    </script>

</body>

</html>