{{define "title"}}名前変更{{end}}

{{define "body"}}
<div class="mx-auto w-50">
    <div class="dropdown text-right">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i> アカウント
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/chat">チャット</a>
            <a class="dropdown-item" href="/upload">画像アップロード</a>
            <a class="dropdown-item" href="/logout">ログアウト</a>
        </div>
    </div>
    <div class="my-4 py-4 text-center" style="background-color:aliceblue">
        <h3 class="">名前変更</h3>
        <form action="/rename" method="post">
            <p class="mt-4 my-0">新しい名前を入力して下さい</p>
            <p class="text-danger">テストユーザーは名前を変更できません</p>
            <input type="hidden" name="userid" value="{{.UserData.userid}}" />
            <input type="text" name="newName" value="{{.UserData.name}}">
            <div class="mt-4">
                <input type="submit" value="変更する" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
{{end}}