{{define "title"}}ToDo機能{{end}}

{{define "body"}}
<div class="my-4 py-4 text-center" style="background-color:aliceblue">
    <h2>ToDo機能</h2>
    <table class="table table-sm w-75 my-4 mx-auto bg-white">
        <thead>
            <tr>
                <th scope="col-2">内容</th>
                <th scope="col-2">状態</th>
                <th scope="col-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="text" placeholder="入力してください" />
                </td>
                <td>
                    <select name="status">
                        <option value="未実行">未実行</option>
                        <option value="実行中">実行中</option>
                        <option value="終了">終了</option>
                    </select>
                </td>
                <td>
                    <button>新規保存</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover table-sm w-75 mx-auto bg-white">
        <thead>
            <tr>
                <th scope="col-2">内容</th>
                <th scope="col-2">状態</th>
                <th scope="col-2"></th>
                <th scope="col-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input placeholder="入力してください" />
                </td>
                <td>
                    <select name="status">
                        <option value="未実行">未実行</option>
                        <option value="実行中">実行中</option>
                        <option value="終了">終了</option>
                    </select>
                </td>
                <td>
                    <button>編集終了</button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button>編集</button>
                </td>

                <td>
                    <button>削除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}