{{define "title"}}ログイン{{end}}

{{define "body"}}
<div>
    <h4 class="my-4">ログインが必要です</h4>
    <div class="list-group">
        <p class="mb-0">採用ご担当者様は、こちらをご利用下さい</p>
        <a href="/" class="list-group-item list-group-item-action list-group-item-warning w-75 mx-auto mb-3">
            テストユーザーでログイン
        </a>
        <p class="mb-0">Googleアカウントをお持ちの方</p>
        <a href="/auth/login/google" class="list-group-item list-group-item-action list-group-item-info w-75 mx-auto mb-3">
            Googleでログイン
        </a>
        <p class="mb-0">登録済みの方</p>
        <a href="/" class="list-group-item list-group-item-action list-group-item-info w-75 mx-auto mb-3">
            ログイン
        </a>
        <p class="mb-0">未登録の方</p>
        <a href="/register" class="list-group-item list-group-item-action list-group-item-info w-75 mx-auto mb-3">
            新規登録
        </a>
    </div>
</div>
{{end}}